app:
  name: {{.service_name}}
  env: development

server:
  grpc_port: 50051
  max_recv_msg_size: 4194304   # 4 MB
  max_send_msg_size: 4194304

{{- if ne .database "none"}}
database:
  driver: {{.database}}
  dsn: ""
{{- end}}

log:
  level: info
  format: json
